<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>My Goal</title>
    <link rel="stylesheet" type="text/css" href="{% static "TheGoalApp/theGoalMainPg.css"%}">
</head>
<body>
<header class = "header">
    <div>
        <a href="#default"><img class = "logo" src="{% static "TheGoalApp/Images/logo.png"%}"></a>
    </div>
    <div class="search-nav">
    <input type="text" placeholder="Search..."><button>Enter</button>
    </div>
    <div class = "header-right">
        <a class = "active" href = "#home">Home</a>
        <a href = "#contact">Contact</a>
        <a href = "#profile">myProfile</a>
    </div>
</header>

</body>
</html>
